{# Overlay #}
<div id="overlay"></div>

<!-- Loader -->
<div id="loader" role="status">
	<img src="/images/loader.gif" width="50" height="50" alt="Loading...">
	<span class="sr-only">Loading...</span>
</div>
