<ul>
	{# Previous page link #}
	{% if pagination.currentPage > 1 %}
		<li>
			<a class="prev-page" href="?page={{ pagination.currentPage - 1 }}">Previous</a>
		</li>
	{% else %}
		<li class="disabled">
			<span>Previous</span>
		</li>
	{% endif %}

	{# Page number links #}
	{% for page in range(1, pagination.lastPage) %}
		<li class="{% if page == pagination.currentPage %}active{% endif %}">
			<a href="?page={{ page }}">{{ page }}</a>
		</li>
	{% endfor %}

	{# Next page link #}
	{% if pagination.currentPage < pagination.lastPage %}
		<li>
			<a class="next-page" href="?page={{ pagination.currentPage + 1 }}">Next</a>
		</li>
	{% else %}
		<li class="disabled">
			<span>Next</span>
		</li>
	{% endif %}
</ul>
