<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="/css/style.css">
		<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
		<title>Todo</title>
	</head>
	<body>
		<div id="page-wrap">
			<div id="header">
				<h1>
					<a href="/">Todo</a>
				</h1>
			</div>
			{# overlay #}
			<div id="overlay"></div>

			<!-- Loader -->
			<div id="loader" role="status">
				<img src="/images/loader.gif" width="50" height="50" alt="Loading...">
				<span class="sr-only">Loading...</span>
			</div>

			<div id="main">
			{% import 'macros.html.twig' as macros %}
				<ul id="list" class="ui-sortable">
					{% for todo in data %}
						{{ macros.todoItem(todo) }}
					{% else %}
						<li class="bad">
							No data available
						</li>
					{% endfor %}
				</ul>
				<br/>

				<form id="add-new" method="post">
					<input type="text" id="description" name="description"/>
					<input type="hidden" name="csrf_token" value="{{ csrf_token }}">
					<button type="submit" id="add-new-submit" class="button">Add</button>
				</form>

				<div class="clear"></div>
			</div>
		</div>
		<noscript>This site just doesn't work, period, without JavaScript</noscript>

		 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js" defer></script>
	 <script src="https://code.jquery.com/ui/1.13.3/jquery-ui.js" defer></script>
		 <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js" defer></script>
		 <script src="/js/app.js" defer></script>
	</body>
</html></body></html>
