<!DOCTYPE html>
<html lang="en">
	<head>
		{% include 'head.twig' %}
	</head>
	<body>
		<div id="page-wrap">
			<div id="header">
				<h1>
					<a href="/">Todo</a>
				</h1>
			</div>

			{% include 'loader.twig' %}

			<div id="main">
				{% import 'list.html.twig' as list %}
				<ul id="list" class="ui-sortable">
					{% for todo in data %}
						{{ list.todo_item(todo) }}
					{% else %}
						<li class="bad">
							No data available
						</li>
					{% endfor %}
				</ul>

				<div class="pagination">
					{% include 'pagination.twig' %}
				</div>
				<br/>
				{% include 'todo-form.twig' %}
			</div>
		</div>
		<noscript>This site just doesn't work, period, without JavaScript</noscript>

		{% include 'scripts.twig' %}
	</body>
</html></body></html>
